img{
  border: 1px solid LightPink;
  border-radius: 4px;
  padding: 5px;
  margin-left: 50px;
  
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(246, 36, 89);
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row:after {
  content: "";
  clear: both;
  display: table;
}

h1{
  background-color: LightPink;
  color: Black;
  font-family: Brush Script MT, cursive;
  font-size:400%;
  text-align: center;
}

h2{
  color: Black;
  font-family: Trebuchet MS, sans-serif;
  font-size:250%;
  margin-left: 90px;
}

background{
  background-color: MistyRose;
}

h4{
  color: Black; 
  font-family: Trebuchet MS, sans-serif;
  margin-left: 90px;
}

  
p{
  color: Black;
  text-align: left;
  font-size: 100%;
  width: 350px;
  border: 3px White;
  border-radius: 9px;
  padding: 30px;
  background-color: MistyRose;
  list-style-position: inside;
  float: right;
  margin-right: 20px;
  pos


}

ul{
  color: Black;
  text-align: left;
  font-size: 100%;
  width: 350px;
  border: 3px White;
  border-radius: 9px;
  padding: 30px;
  background-color: MistyRose;
  list-style-position: inside;
  float: right;
  margin-right: 20px;
}
  
.number-links{
  text-align: center;
}

  .images{
    margin: 90px;
    border: none;
    border-radius: 0px;
    padding: 0px;
    box-shadow: none;
  
}

button {
  color: Black;
  background-color: LightPink;
  text-align: center;
  font-size: 15px;
  border: none;
  border-radius: 7px;
  margin: 7px 5px;

}



