h1{
  text-align: center;
  background-color: LightPink;
  color: Black;
  font-family: Brush Script MT, cursive;
  font-size:400%;
  margin-bottom: 20px;
  margin-top: 20px;
}

h2{
  color: Black;
  font-family: Trebuchet MS, sans-serif;
  font-size:250%;
  float: left;
  margin-left: 50px;
}

h3{
  color: Black;
  font-family: Trebuchet MS, sans-serif;
  font-size:250%;
  margin-left: 50px;
  float: left;
}

background{
  background-color: MistyRose;
}

h4{
  color: Black; 
  font-family: Trebuchet MS, sans-serif;
  margin-left: 90px;
}

img{
  margin-left: 90px;
}

  
p{
  color: Black;
  font-family: Trebuchet MS, sans-serif;
  margin-left: 90px;

}

ul{
  background-color: LightPink;
  margin: 20px;
  
  

 a:link, a:visited {
  background-color: MistyRose;
  color: black;
  border: 2px solid LightPink;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
 }

a:hover, a:active {
  background-color: LightPink;
  color: white;
}

a{
  link-align: center;
  padding: 0px 0px;
  margin-left: 90px;
 

}
