h1{
  text-align: center;
  background-color: LightPink;
  color: Black;
  font-family: Brush Script MT, cursive;
  font-size:400%;
}

h2{
  color: Black;
  font-family: Trebuchet MS, sans-serif;
  font-size:250%;
  float: left;
  margin-left: 10px;
}

background{
  background-color: MistyRose;
}

h4{
  color: Black; 
  font-family: Trebuchet MS, sans-serif;
  margin-left: 90px;
}

img{
  margin-left: 90px;
}

  
p{
  color: Black;
  font-family: Trebuchet MS, sans-serif;
  margin-left: 90px;

}

ol{
  margin-left: 90px;
}

ul{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li{
  float: left;
}

li a{
  display: block;
  padding: 5px;
  background-color: #FFE1DB;
}

div{
  text-align: center;
}

